@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Hyperion';
  src: url('https://cdn.bitskistatic.com/fonts/hyperion/hyperion-light.woff2')
    format('woff2');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Hyperion';
  src: url('https://cdn.bitskistatic.com/fonts/hyperion/hyperion-regular.woff2')
    format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Hyperion';
  src: url('https://cdn.bitskistatic.com/fonts/hyperion/hyperion-bold.woff2')
    format('woff2');
  font-weight: 700;
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6,
.hyperion {
  font-family: 'Hyperion';
  text-transform: lowercase;
  text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.25);
  font-weight: 700;
}

.orange {
  color: #ff441b;
}

a {
  color: #ff441b;
  transition: all 0.3s ease-in-out;
}

a:hover {
  color: white;
}

body {
  color: white;
  height: 100vh;
  background: black;
}

.app-bg {
  height: 100vh;
  background: radial-gradient(
      204.68% 100% at 50% 0%,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.75) 100%
    ),
    url('/assets/bg-noise.png'),
    radial-gradient(55.01% 50% at 50% 50%, rgba(0, 0, 0, 0) 0%, #000 100%),
    linear-gradient(
      204deg,
      rgba(255, 68, 27, 0.25) 0%,
      rgba(255, 92, 0, 0.16) 100%
    ),
    #000000;
}

.claim-bg {
  height: 100vh;
  background: radial-gradient(
      55.01% 50% at 50% 50%,
      rgba(0, 0, 0, 0) 0%,
      #000 100%
    ),
    linear-gradient(
      204deg,
      rgba(255, 68, 27, 0.25) 0%,
      rgba(255, 92, 0, 0.16) 100%
    ),
    #000;
}

.card-desc-bg {
  border: 1px solid rgba(255, 255, 255, 0.1);
  position: relative;
}

.card-desc-bg:before {
  content: '';
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.1) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  position: absolute;
  top: -1px;
  left: -1px;
  right: -1px;
  bottom: -1px;
}

.planet-overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: radial-gradient(
    204.68% 100% at 50% 0%,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.75) 100%
  );
}

.logo {
  filter: drop-shadow(0px 0px 10px rgba(255, 255, 255, 0.25));
}

.btn {
  font-family: 'Hyperion';
  font-weight: 700;
  text-transform: lowercase;
  padding: 0.5rem 1rem;
  border: 1px solid rgba(255, 255, 255, 0.1);
  background: rgba(255, 255, 255, 0.05);
  transition: all 0.3s ease-in-out;
  color: #a1a1a1;
  text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.25);
}

.btn-sm {
  padding: 0.25rem 1rem;
}

.btn:hover {
  color: white;
  border-color: #ffffff77;
  cursor: pointer;
  text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.5);
}

.btn-primary {
  color: #ff441b;
  border: 1px solid #ff441b;
}

.btn-primary-top {
  color: #ff441b;
  border: 1px solid rgba(255, 255, 255, 0.1);
  background: rgba(255, 68, 27, 0.05);
  position: relative;
}

.btn-primary-top:before {
  content: '';
  background: currentColor;
  position: absolute;
  top: -1px;
  left: -1px;
  right: -1px;
  height: 1px;
}

.btn-nobs {
  position: relative;
}

.btn-nobs:after {
  content: '';
  position: absolute;
  background: currentColor;
  pointer-events: none;
  top: -10.5px;
  left: -10.5px;
  bottom: -10.5px;
  right: -10.5px;
  filter: drop-shadow(0, 0, 7px, currentColor);

  --nob-url: url('data:image/svg+xml,<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><g filter="url(%23filter0_d_3_9)"><rect x="7.17148" y="9.99997" width="4" height="4" transform="rotate(-45 7.17148 9.99997)" fill="black"/></g><defs><filter id="filter0_d_3_9" x="0.171478" y="0.171539" width="19.6569" height="19.6569" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB"><feFlood flood-opacity="0" result="BackgroundImageFix"/><feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/><feOffset/><feGaussianBlur stdDeviation="3.5"/><feComposite in2="hardAlpha" operator="out"/><feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0"/><feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_3_9"/><feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_3_9" result="shape"/></filter></defs></svg>');

  mask: var(--nob-url) top left no-repeat, var(--nob-url) bottom left no-repeat,
    var(--nob-url) top right no-repeat, var(--nob-url) bottom right no-repeat;
}

.card {
  border: 1px solid #2e2e2e;
  position: relative;
  overflow: hidden;
  background: #101010;
  clip-path: polygon(
    0 0,
    0 100%,
    calc(100% - 1.5rem) 100%,
    100% calc(100% - 1.5rem),
    100% 0
  );
}

.card h2 {
  color: #d8d8d8;
}

.card h3 {
  color: #696969;
  font-size: 0.75rem;
}

.card:after {
  content: '';
  position: absolute;
  width: 4rem;
  height: 4rem;
  transform: rotate(45deg);
  right: -2.6847rem;
  bottom: -2.6847rem;
  border: 1px solid #2e2e2e;
}

.card .card-type-marker {
  width: 1.25rem;
  height: 0.1875rem;
  background: #fff;
  box-shadow: 0px 0px 7px 0px #fff;
  position: absolute;
  bottom: 0;
  left: 1rem;
}

.chip {
  font-family: 'Hyperion';
  text-transform: lowercase;
  font-size: 0.75rem;
  padding: 0.25rem 0.5rem;
  border-radius: 0.5rem;
  background: #101010;
  color: #a1a1a1;
  text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.25);
  transition: all 0.3s ease-in-out;
}

.chip:hover {
  background: #222222;
  color: white;
  text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.5);
}

.bar {
  background: #ffffff;
  box-shadow: 0px 0px 7px 0px #fff;
  height: 0.5px;
  min-width: 100%;
  position: relative;
  overflow: visible;
  border: none;
}

.bar:before,
.bar:after,
.nob {
  content: '';
  display: block;
  width: 0.25rem;
  height: 0.25rem;
  background: currentColor;
  box-shadow: 0px 0px 7px 0px currentColor;
  position: absolute;
  transform: translateY(calc(-50%)) rotate(45deg);
}

.bar:before {
  left: -2px;
}

.bar:after {
  right: -2px;
}

.icon {
  display: inline-block;
  vertical-align: middle;
}

.icon:before {
  content: '';
  display: block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  mask-size: cover;
}

.icon-plus-square:before {
  mask-image: url('data:image/svg+xml,<svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="plus-square, add"><path id="Icon" fill-rule="evenodd" clip-rule="evenodd" d="M1.75 1.75H12.25V12.25H1.75V1.75ZM4.6667 6.41664L4.66665 7.5833L6.41667 7.58337L6.41666 9.33333L7.58333 9.33334L7.58334 7.58341L9.33333 7.58348L9.33337 6.41681L7.58334 6.41675L7.58335 4.66679L6.41669 4.66679L6.41668 6.4167L4.6667 6.41664Z" fill="%2393979F"/></g></svg>');
}

.icon-info-square:before {
  mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12" fill="none"><path fill-rule="evenodd" clip-rule="evenodd" d="M1.5 1.5V10.5H10.5V1.5H1.5ZM5 5H6.5V8.5H5.5V6H5V5ZM6.5 3.5H5.5V4.5H6.5V3.5Z" fill="%2393979F"/></svg>');
}

.icon-gear:before {
  mask-image: url('data:image/svg+xml,<svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="settings 3, gear, preferences"><path id="Icon" fill-rule="evenodd" clip-rule="evenodd" d="M5.16549 2.67202L6.16908 1.16663H7.83108L8.83467 2.67202L10.4696 2.29472L11.7053 3.53044L11.328 5.16537L12.8334 6.16896V7.83096L11.328 8.83455L11.7053 10.4695L10.4696 11.7052L8.83467 11.3279L7.83108 12.8333H6.16908L5.16549 11.3279L3.53056 11.7052L2.29485 10.4695L2.67214 8.83455L1.16675 7.83096V6.16896L2.67214 5.16537L2.29485 3.53044L3.53056 2.29472L5.16549 2.67202ZM4.95841 6.99996C4.95841 5.87238 5.8725 4.95829 7.00008 4.95829C8.12766 4.95829 9.04175 5.87238 9.04175 6.99996C9.04175 8.12754 8.12766 9.04163 7.00008 9.04163C5.8725 9.04163 4.95841 8.12754 4.95841 6.99996Z" fill="%2393979F"/></g></svg>');
}

.icon-twitter:before {
  mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 25 25" fill="none"><path d="M20.9836 7.34106C21.0341 7.27066 20.9595 7.17977 20.8787 7.21108C20.3046 7.43362 19.7045 7.58376 19.0925 7.65775C19.774 7.25063 20.2999 6.63088 20.5915 5.89715C20.6212 5.82241 20.5395 5.75566 20.4691 5.79454C19.8358 6.14433 19.1527 6.39621 18.4431 6.54127C18.4134 6.54734 18.3828 6.53723 18.3619 6.51522C17.8294 5.95335 17.1285 5.57925 16.3644 5.44997C15.5842 5.31798 14.7823 5.44867 14.0844 5.82155C13.3865 6.19443 12.8321 6.7884 12.5081 7.51031C12.2001 8.19671 12.117 8.96186 12.2689 9.69669C12.2807 9.75371 12.2361 9.80754 12.178 9.80393C10.7974 9.71818 9.44847 9.35097 8.21435 8.72441C6.98335 8.09944 5.89327 7.23001 5.0105 6.16974C4.97132 6.12269 4.89707 6.12878 4.86852 6.18295C4.59384 6.70419 4.45002 7.28516 4.45041 7.87564C4.44929 8.4634 4.59353 9.04231 4.87028 9.56084C5.14703 10.0794 5.54771 10.5214 6.03663 10.8476C5.51813 10.8335 5.00972 10.7053 4.54737 10.4729C4.48778 10.443 4.41631 10.4856 4.41941 10.5522C4.45546 11.3273 4.73998 12.1053 5.23246 12.7023C5.75655 13.3375 6.48396 13.7723 7.29167 13.9329C6.98075 14.0276 6.65794 14.0774 6.33296 14.0811C6.15609 14.079 5.97956 14.066 5.8044 14.042C5.73945 14.0332 5.68642 14.0948 5.70915 14.1563C5.95006 14.8078 6.37567 15.3763 6.93527 15.7912C7.53355 16.2349 8.25524 16.481 8.99992 16.4953C7.74244 17.4847 6.18993 18.0248 4.58986 18.0292C4.42544 18.0298 4.2611 18.0244 4.09715 18.0133C4.00476 18.007 3.96227 18.1301 4.0419 18.1773C5.60091 19.1025 7.38282 19.5915 9.20037 19.5893C10.5423 19.6033 11.8735 19.3497 13.1164 18.8433C14.3592 18.337 15.4887 17.5881 16.4388 16.6404C17.389 15.6927 18.1407 14.5652 18.6502 13.3236C19.1597 12.0821 19.4168 10.7515 19.4063 9.40957V8.99137C19.4063 8.96386 19.4193 8.93798 19.4412 8.9214C20.0324 8.47504 20.5523 7.94214 20.9836 7.34106Z" fill="%23A1A1A1"/></svg>');
}

.icon-close-square:before {
  mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"><path fill-rule="evenodd" clip-rule="evenodd" d="M3 3H21V21H3V3ZM9 7.93934L7.93934 9L10.9393 12L7.93934 15L9 16.0607L12 13.0607L15 16.0607L16.0607 15L13.0607 12L16.0607 9L15 7.93934L12 10.9393L9 7.93934Z" fill="white"/></svg>');
}

.icon-spinner:before {
  mask-image: url('data:image/svg+xml,<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><defs><style> g { animation: rotate 2s linear infinite; transform-origin: center; } circle { animation: dash 1.5s ease-in-out infinite; } @keyframes rotate { 100% { transform: rotate(360deg); } } @keyframes dash { 0% { stroke-dasharray: 1, 150; stroke-dashoffset: 0; } 50% { stroke-dasharray: 90, 150; stroke-dashoffset: -35; } 100% { stroke-dasharray: 90, 150; stroke-dashoffset: -124; } } </style></defs><svg viewBox="0 0 50 50"><g><circle cx="25" cy="25" r="20" fill="none" stroke="black" stroke-linecap="round" stroke-width="5" /></g></svg></svg>');
}

.icon-send:before {
  mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14" fill="none"><path d="M8.37628 13.3809L12.6315 1.35522L0.587097 5.80239L5.97923 8.03362L8.37628 13.3809Z" fill="%2393979F"/></svg>');
}

.icon-opensea:before {
  mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14" fill="none"><path d="M12.8333 8.77909V8.16951C12.8333 8.11311 12.7789 8.07229 12.7254 8.08784L9.84669 8.92006C9.83114 8.92394 9.81751 8.93269 9.80682 8.94437C9.4985 9.28495 9.23646 9.51351 9.16705 9.57405L9.16224 9.57825C8.98336 9.72992 8.76168 9.81256 8.52835 9.81256H7.48612V8.74992H8.31447C8.33585 8.74992 8.35627 8.74214 8.37183 8.72854L8.47876 8.63033C8.52447 8.58852 8.57891 8.53797 8.64404 8.47283C8.64958 8.46729 8.6552 8.46169 8.66089 8.45602C8.69511 8.42192 8.73168 8.38548 8.76751 8.34548C8.8103 8.30367 8.85211 8.257 8.89098 8.21131C8.95612 8.14131 9.01835 8.06839 9.08349 7.99159C9.13016 7.94104 9.17294 7.88367 9.21474 7.82631C9.26141 7.77186 9.3071 7.71062 9.34987 7.65229C9.3658 7.62889 9.38275 7.60523 9.40006 7.58107C9.41657 7.55803 9.4334 7.53453 9.45001 7.51034C9.48112 7.46367 9.51224 7.41409 9.53849 7.36742C9.62015 7.24103 9.68919 7.10588 9.74752 6.97075C9.77429 6.91287 9.7957 6.85193 9.81651 6.7927C9.81912 6.78526 9.82172 6.77785 9.82432 6.77048C9.84766 6.70144 9.8671 6.63631 9.88169 6.56727C9.91668 6.40491 9.92446 6.24353 9.9089 6.08213C9.90502 6.03158 9.90112 5.982 9.88947 5.93534V5.92757C9.88557 5.8945 9.87779 5.85756 9.86709 5.82353C9.8321 5.66603 9.77765 5.50853 9.70863 5.35394C9.6853 5.29658 9.65808 5.23825 9.63183 5.18479C9.5696 5.06909 9.50446 4.95338 9.43057 4.84159C9.41575 4.81797 9.39937 4.79405 9.38301 4.77017C9.37042 4.75177 9.35784 4.73339 9.34599 4.7152C9.2992 4.64303 9.2466 4.57346 9.19554 4.50594C9.18401 4.49068 9.17255 4.47553 9.16126 4.46048C9.13112 4.42091 9.09814 4.38134 9.06494 4.34152C9.04674 4.31969 9.02847 4.29778 9.01057 4.27575C8.96002 4.2145 8.91044 4.15617 8.85989 4.09881C8.67905 3.89464 8.48947 3.70992 8.32029 3.55242C8.28918 3.52131 8.25515 3.49019 8.22016 3.46007C8.08891 3.34047 7.96932 3.23644 7.86918 3.15576C7.8391 3.13261 7.81211 3.10981 7.78699 3.08858C7.7699 3.07414 7.75368 3.06043 7.73793 3.04784C7.70758 3.02522 7.68125 3.00516 7.65914 2.98831C7.64512 2.97764 7.6328 2.96825 7.62224 2.96033C7.61446 2.9545 7.60572 2.95062 7.59697 2.94769L7.48612 2.91659V1.99881C7.48612 1.84909 7.42585 1.71492 7.32961 1.61672C7.23335 1.51853 7.09919 1.45825 6.95141 1.45825C6.65585 1.45825 6.41669 1.70033 6.41669 1.99881V2.61713L6.36127 2.60159L6.21057 2.5588L6.07349 2.52089L6.07221 2.52053L6.06961 2.51991H6.06669L5.0264 2.23797C4.98072 2.22533 4.94182 2.27492 4.96516 2.31672L5.1314 2.62394C5.14085 2.64756 5.1528 2.67117 5.16509 2.69543C5.17304 2.71113 5.18113 2.72711 5.18877 2.74354C5.216 2.79797 5.24322 2.85533 5.26947 2.91269C5.2928 2.96325 5.31614 3.01283 5.34335 3.06728C5.3548 3.09288 5.36646 3.11879 5.3783 3.14507C5.42175 3.24156 5.46744 3.34302 5.51251 3.45229C5.5514 3.54464 5.59029 3.637 5.62432 3.73326C5.71766 3.97534 5.80612 4.23394 5.88294 4.49937C5.90206 4.55877 5.91733 4.61625 5.93282 4.67451C5.93938 4.69921 5.94598 4.72405 5.95293 4.74923L5.96362 4.79588C5.99474 4.91937 6.02197 5.04186 6.04141 5.16533C6.05696 5.24991 6.07154 5.33061 6.07932 5.41227C6.09099 5.50463 6.10265 5.59701 6.10655 5.68937C6.11433 5.77394 6.11821 5.86242 6.11821 5.947C6.11821 6.16283 6.09877 6.37088 6.05307 6.56727C6.0502 6.57783 6.04734 6.58851 6.04446 6.59928C6.03166 6.64707 6.01839 6.69661 6.00252 6.74423C5.98816 6.79521 5.96955 6.84619 5.95022 6.89913C5.94339 6.91787 5.93646 6.93685 5.9296 6.95616C5.92832 6.9596 5.92703 6.96305 5.92575 6.9665C5.91145 7.00501 5.8969 7.0442 5.87905 7.08256C5.78279 7.31395 5.66322 7.54437 5.53974 7.7602C5.35891 8.08006 5.17711 8.36104 5.04974 8.54187C5.04195 8.55356 5.03435 8.56467 5.02703 8.57537C5.01791 8.5887 5.00922 8.6014 5.00114 8.61381C4.96128 8.67019 5.0021 8.74992 5.07112 8.74992H6.41669V9.81256H5.05557C4.69002 9.81256 4.35168 9.60548 4.18835 9.27394C4.10377 9.10769 4.07071 8.92491 4.09017 8.74602C4.09501 8.69256 4.05515 8.64201 4.00072 8.64201H1.25127C1.2046 8.64201 1.16669 8.67992 1.16669 8.72659V8.78297C1.16669 10.5369 2.58322 11.9583 4.33126 11.9583H9.26335C10.1879 11.9583 10.7128 11.1158 11.2288 10.2877C11.3727 10.0569 11.5158 9.82717 11.6667 9.61714C11.9379 9.23991 12.5903 8.94047 12.7808 8.8588C12.812 8.84519 12.8333 8.81408 12.8333 8.77909Z" fill="%2393979F"/><path d="M1.90171 7.38973L1.86088 7.45391C1.8249 7.50932 1.86476 7.58321 1.93282 7.58321H4.46448C4.49268 7.58321 4.51893 7.5696 4.53448 7.54626C4.56755 7.49571 4.59866 7.44321 4.62684 7.38973C4.8456 7.02223 5.04005 6.6246 5.11102 6.33098C5.27726 5.61737 4.9224 4.47111 4.51115 3.54945C4.48393 3.4882 4.39935 3.48238 4.36338 3.53876L1.90171 7.38973Z" fill="%2393979F"/></svg>');
}

.bitski-logo {
  position: relative;
  display: inline-block;
  width: 3.1rem;
}

.bitski-logo:after {
  content: '';
  display: block;
  width: 100%;
  padding-top: 26.605%;
  background-color: currentColor;
  mask-size: 100% 100%;
  mask-image: url('data:image/svg+xml,<svg width="105" height="29" viewBox="0 0 105 29" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M0.920272 0H9.83018C15.7283 0 18.8656 3.49922 18.8656 8.62598C18.8656 9.277 18.6983 10.2535 18.5728 10.8639C18.5309 11.108 18.4891 11.2707 18.4891 11.4335C18.4891 11.759 18.6146 11.9624 19.0747 12.2066C21.8774 13.7527 23.1323 16.2754 23.1323 19.856C23.1323 24.8607 19.9532 28.482 13.4276 28.482H0.920272C0.250983 28.482 0 28.1972 0 27.5462V0.935838C0 0.28482 0.250983 0 0.920272 0ZM7.69678 11.189H9.83013C10.9177 11.189 11.7543 10.538 11.7543 9.27666C11.7543 8.056 10.9177 7.3643 9.83013 7.3643H7.69678C7.02749 7.3643 6.7765 7.64912 6.7765 8.30013V10.2532C6.7765 10.9042 7.02749 11.189 7.69678 11.189ZM7.69678 21.1173H13.3021C14.9335 21.1173 15.8537 20.5476 15.8537 19.2049C15.8537 17.9029 14.9335 17.2925 13.3021 17.2925H7.69678C7.02749 17.2925 6.7765 17.5774 6.7765 18.2284V20.1814C6.7765 20.8324 7.02749 21.1173 7.69678 21.1173ZM25.7258 27.5462V9.07353C25.7258 8.42251 25.9768 8.13769 26.6461 8.13769H31.7913C32.4606 8.13769 32.7115 8.42251 32.7115 9.07353V27.5462C32.7115 28.1972 32.4606 28.482 31.7913 28.482H26.6461C25.9768 28.482 25.7258 28.1972 25.7258 27.5462ZM25.7258 5.0047V0.935838C25.7258 0.28482 25.9768 0 26.6461 0H31.7913C32.4606 0 32.7115 0.28482 32.7115 0.935838V5.0047C32.7115 5.65571 32.4606 5.94054 31.7913 5.94054H26.6461C25.9768 5.94054 25.7258 5.65571 25.7258 5.0047ZM38.3585 14.8513H35.9742C35.3049 14.8513 35.0121 14.6072 35.0121 13.9562V9.03287C35.0121 8.38185 35.2631 8.13772 35.9742 8.13772H38.3585C39.0278 8.13772 39.2788 7.8529 39.2788 7.20188V0.935838C39.2788 0.28482 39.5298 0 40.1991 0H45.3442C46.0135 0 46.2645 0.28482 46.2645 0.935838V7.20188C46.2645 7.8529 46.5155 8.13772 47.1848 8.13772H51.9535C52.6227 8.13772 52.9156 8.38185 52.9156 9.03287V13.9562C52.9156 14.6072 52.6227 14.8513 51.9535 14.8513H47.1848C46.5155 14.8513 46.2645 15.1362 46.2645 15.7872V27.5462C46.2645 28.1972 46.0135 28.482 45.3442 28.482H40.1991C39.5298 28.482 39.2788 28.1972 39.2788 27.5462V15.7872C39.2788 15.1362 39.0278 14.8513 38.3585 14.8513ZM63.4988 28.889C60.236 28.889 56.8896 27.9125 54.5053 26.4884C54.087 26.2443 54.0033 25.7967 54.2543 25.3084L56.1367 21.8499C56.4713 21.2396 56.9733 21.2802 57.5589 21.6058C59.3158 22.623 61.6583 23.3554 63.457 23.3554C64.5864 23.3554 65.423 23.0299 65.423 22.2975C65.423 21.6058 64.6701 21.3616 63.5407 21.3616H62.6204C57.6844 21.3616 54.2961 18.961 54.2961 14.8108C54.2961 10.1723 58.5628 7.73094 63.2478 7.73094C66.3433 7.73094 68.644 8.25989 71.112 9.56192C71.5721 9.80606 71.7394 10.2536 71.4466 10.7419L69.3133 14.3632C69.0205 14.8921 68.393 14.9328 67.8492 14.6073C66.176 13.5901 64.6701 13.3053 63.2897 13.3053C62.0348 13.3053 61.4073 13.7122 61.4073 14.2818C61.4073 14.9735 62.0348 15.2583 63.8335 15.2583H64.8792C69.6061 15.2583 72.6597 17.4962 72.6597 21.4023C72.6597 26.2443 68.8531 28.889 63.4988 28.889ZM88.23 17.4554L95.0065 27.3021C95.4249 27.9124 95.1739 28.482 94.4209 28.482H88.3555C87.6444 28.482 87.1006 28.4006 86.5149 27.5462L83.2522 22.9484C82.8757 22.4194 82.4992 22.4194 82.0391 22.867L81.7044 23.1925C81.1606 23.7215 81.1188 24.0063 81.1188 24.7387V27.5869C81.1188 28.1972 80.8678 28.482 80.1985 28.482H75.0115C74.3841 28.482 74.1331 28.1972 74.1331 27.5869V0.895149C74.1331 0.28482 74.3841 0 75.0115 0H80.1985C80.8678 0 81.1188 0.28482 81.1188 0.895149V12.7355C81.1188 13.3865 81.7463 13.5493 82.2064 13.0204L85.762 9.11425C86.3476 8.46323 86.9333 8.13772 87.6862 8.13772H94.2118C95.0065 8.13772 95.2157 8.82943 94.6719 9.35838L88.3555 15.9092C87.8535 16.4382 87.728 16.7637 88.23 17.4554ZM97.0156 27.5452V9.07256C97.0156 8.42154 97.2666 8.13672 97.9359 8.13672H103.081C103.75 8.13672 104.001 8.42154 104.001 9.07256V27.5452C104.001 28.1962 103.75 28.481 103.081 28.481H97.9359C97.2666 28.481 97.0156 28.1962 97.0156 27.5452ZM97.0156 5.0047V0.935838C97.0156 0.28482 97.2666 0 97.9359 0H103.081C103.75 0 104.001 0.28482 104.001 0.935838V5.0047C104.001 5.65571 103.75 5.94054 103.081 5.94054H97.9359C97.2666 5.94054 97.0156 5.65571 97.0156 5.0047Z" fill="%23000000"/></svg>');
}

.blinker {
  animation-name: blinker;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(1, 0, 0, 1);
  animation-duration: 1.5s;
}

@keyframes blinker {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
